@charset "UTF-8";
.menu {
  max-height: 500px;
  overflow-y: hidden;
}

.row h3.accordion-heading {
  margin: 0 0 0.5em;
  font-weight: bolder;
  font-size: 30px;
}

.row input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  display: flex;
  text-align: center;
  max-width: 350px;
  overflow-y: hidden;
}
.row a {
  color: black;
}
.row .col {
  flex: 1;
}
.row .col:last-child {
  margin-left: 1em;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.5);
}

.tab {
  width: 100%;
  margin: 0 0 10px 0;
  color: white;
  overflow: hidden;
  border-radius: 8px;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.tab-label:hover {
  background: #1a252f;
}
.tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
  text-align: left;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}

.row input.checked + .tab-label {
  background: #1a252f;
}
.row input.checked + .tab-label::after {
  transform: rotate(90deg);
}
.row input.checked ~ .tab-content {
  max-height: 320px;
  padding: 1em;
  overflow-y: auto;
  overflow-x: hidden;
}
.row li {
  margin-left: 30px;
  letter-spacing: 2.5px;
  list-style: none;
  margin-bottom: 10px;
}
.row li:before {
  content: "\2764";
}
